<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <getItem>
            <processor type="Sitecore.Support.Pipelines.ItemProvider.GetItem.DisableEnforcingVersionPresenceForExperienceEditor,Sitecore.Support.151776"
                       patch:after="processor[@type='Sitecore.Pipelines.ItemProvider.GetItem.EnforceVersionPresence, Sitecore.Kernel']"/>
          </getItem>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>